<ng-container *ngIf="userLoggedStatus == 0">
  <ion-app>
    <ion-col size="12"> Loading... </ion-col>
  </ion-app>
</ng-container>
<ng-container *ngIf="userLoggedStatus == -1">
  <ion-app>
    <ion-header>
      <ion-toolbar>
        <div slot="start">
          <ion-title>#Book QNTN</ion-title>
        </div>
        <ion-buttons slot="end">
          <ion-back-button></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <div
      style="
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      "
    >
      <ion-row style="height: 100%">
        <ion-col size-sm="0" size-xs="0" size-md="6">
          <iframe
            src="https://onedrive.live.com/embed?cid=3F158BF70A9ED015&amp;resid=3F158BF70A9ED015%212975&amp;authkey=ANJp_hvfEQln2BE&amp;em=2&amp;wdAr=1.7777777777777777"
            style="width: 100%; height: 100%"
            frameborder="0"
            >This is an embedded
            <a target="_blank" href="https://office.com">Microsoft Office</a>
            presentation, powered by
            <a target="_blank" href="https://office.com/webapps">Office</a
            >.</iframe
          >
        </ion-col>
        <ion-col size-sm="12" size-md="6">
          <div
            style="
              height: 100%;
              display: flex;
              justify-content: center;
              flex-direction: column;
            "
          >
            <h1 style="text-align: center">Please login to continue</h1>
            <auth-login></auth-login>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-app>
</ng-container>
<ng-container *ngIf="userLoggedStatus == 1">
  <ion-app>
    <ion-split-pane when="md" content-id="main-content">
      <ion-menu content-id="main-content" side="start" class="first-menu">
        <ion-header>
          <ion-toolbar color="primary">
            <ion-title>{{ this.AS.fireAuthUser.displayName }}</ion-title>
            <ion-title size="small">Welcome to QNTN</ion-title>
          </ion-toolbar>
        </ion-header>

        <ion-content>
          <ion-list>
            <ion-list-header> Navigate </ion-list-header>
            <ion-menu-toggle auto-hide="false">
              <ion-item routerLink="pandemic">
                <ion-icon slot="start" name="bug"></ion-icon>
                <ion-label> Pandemic </ion-label>
              </ion-item>
              <ion-item routerLink="home">
                <ion-icon slot="start" name="home"></ion-icon>
                <ion-label> Home </ion-label>
              </ion-item>
              <ion-item routerLink="about">
                <ion-icon slot="start" name="help"></ion-icon>
                <ion-label> About </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
          <auth-menu-essentials></auth-menu-essentials>
        </ion-content>
      </ion-menu>
      <ion-menu
        content-id="main-content"
        menuId="second"
        side="end"
        class="second-menu"
      >
        <ion-content>
          <router-outlet name="right"></router-outlet>
        </ion-content>
      </ion-menu>

      <div class="ion-page" id="main-content" type="push">
        <button
          button
          class="menu-2-btn"
          (click)="
            menuController.enable(true, 'second'); menuController.open('second')
          "
        >
          CONTENT
        </button>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-menu-toggle>
                <ion-button>
                  <ion-icon slot="icon-only" name="menu"></ion-icon>
                </ion-button>
              </ion-menu-toggle>
            </ion-buttons>
            <ion-title>QNTN</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <router-outlet></router-outlet>
        </ion-content>
        <ion-footer style="text-align: center">
          <p style="margin: 0; font-size: xx-small">
            This app is still in development phase
          </p>
        </ion-footer>
      </div>
    </ion-split-pane>
  </ion-app>
</ng-container>
