<ng-container *ngIf="userLoggedStatus == 0">
  <ion-app>
    <ion-col size="12"> Loading... </ion-col>
  </ion-app>
</ng-container>
<ng-container *ngIf="userLoggedStatus == -1">
  <ion-app>
    <ion-header>
      <ion-toolbar>
        <ion-title>#Book Shops</ion-title>
        <ion-card-subtitle style="margin-left: 10px;">Please login to continue</ion-card-subtitle>
      </ion-toolbar>
    </ion-header>
    <div
      style="
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      "
    >
      <ion-row>
        <ion-col size-sm="0" size-xs="0" size-md="6">
          <img src="../assets/svg/undraw_authentication_fsn5.svg" alt="" srcset="" width="100%; height: 100%;">
        </ion-col>
        <ion-col size-sm="12" size-md="6">
          <auth-login></auth-login>
        </ion-col>
      </ion-row>
    </div>
  </ion-app>
</ng-container>
<ng-container *ngIf="userLoggedStatus == 1">
  
</ng-container>