<div style="height: 100%">
  
  <ion-content>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title size="small">#Book Apps</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-list>
      <ion-list-header> Know more about us </ion-list-header>
      <ion-menu-toggle auto-hide="false">
        <ion-item href="https://hbook.in">
          <ion-icon slot="start" name="home"></ion-icon>
          <ion-label> #Book </ion-label>
        </ion-item>
        <ion-item href="https://hbook.in/shops">
          <ion-icon slot="start" name="storefront"></ion-icon>
          <ion-label> Shops </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</div>
