<ion-slides
  mode="md"
  pager="md"
  scrollbar="md"
  [options]="{
  direction: 'vertical'
}"
  (ionSlideDidChange)="slideChanged($event)"
>
  <ion-slide>
    <div class="flex-col" style="height: 100%; width: 100%">
      <div class="flex-item flex-col">
        <ion-card class="flex-item" style="color: white; height: 100%">
          <div class="flex-col" style="height: 100%">
            <div
              style="
                position: absolute;
                min-width: 100vw;
                min-height: 100vh;
                overflow: hidden;
                filter: blur(5px);
                -webkit-filter: blur(5px);
              "
            >
              <img
                src="assets/img/ash-from-modern-afflatus-NQ6Lh81BTRs-unsplash.jpg"
                style="width: 100%"
              />
            </div>
            <ion-card-header>
              <ion-card-subtitle style="color: white"
                >Your Card Status</ion-card-subtitle
              >
            </ion-card-header>
            <ion-card-content>
              <h1>Green</h1>
            </ion-card-content>
            <div class="flex-item"></div>
            <div
              style="background-color: #000a; z-index: 1"
              class="flex-row flex-wrap"
            >
              <ion-button expand="full" fill="clear" class="flex-item">
                <ion-icon slot="start" name="people"></ion-icon>
                Meet Others
              </ion-button>
              <ion-button expand="full" fill="clear">
                <ion-icon slot="start" name="medkit"></ion-icon>
                Help Tools
              </ion-button>
            </div>
          </div>
        </ion-card>
      </div>
      <div class="flex-row flex-wrap" style="width: 100%">
        <div class="flex-col wrap-width-large"></div>
        <div class="flex-col wrap-width-small">
          <ion-card class="flex-item">
            <ion-footer>
              <ion-title size="small" style="padding: 5px">I met</ion-title>
            </ion-footer>
            <div class="flex-row">
              <ion-button
                class="flex-item"
                button
                fill="clear"
                style="height: 60px; background-color: lightgreen"
              >
                G
              </ion-button>
              <ion-button
                class="flex-item"
                button
                fill="clear"
                style="height: 60px; background-color: yellow"
              >
                Y
              </ion-button>
              <ion-button
                class="flex-item"
                button
                fill="clear"
                style="height: 60px; background-color: red"
              >
                R
              </ion-button>
            </div>
          </ion-card>
        </div>
        <div class="flex-col wrap-width-small">
          <ion-card>
            <ion-card-content> Awesome content </ion-card-content>
            <ion-footer>
              <ion-toolbar>
                <ion-title>Footer</ion-title>
              </ion-toolbar>
            </ion-footer>
          </ion-card>
        </div>
        <div class="flex-col wrap-width-small">
          <ion-card>
            <ion-card-content> Awesome content </ion-card-content>
            <ion-footer>
              <ion-toolbar>
                <ion-title>Footer</ion-title>
              </ion-toolbar>
            </ion-footer>
          </ion-card>
        </div>
      </div>
    </div>
  </ion-slide>
  <ion-slide>
    <app-meet *ngIf="activeSlide == 1" style="width: 100%; height: 100%;" class="flex-col"></app-meet>
  </ion-slide>
</ion-slides>
